Hydra==2.5
hydra-core==1.3.1
icecream==2.1.3
numpy==1.24.1
omegaconf==2.3.0
optuna==3.1.0
pandas==1.5.3
Pillow==9.4.0
plotly==5.13.0
pyarrow==11.0.0
scikit-learn==1.2.1
scipy==1.10.0
seaborn==0.12.2
torch==1.13.1
torchaudio==0.13.1
torchvision==0.14.1
typing_extensions==4.4.0
xgboost==1.7.4
